html,
body,
header,
.view {
  height: 100%;
}


.container-fluid
{
    background: rgb(3, 27, 46);
    color: rgb(239, 245, 250);
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.input
{
  margin-top: 15px;
}

@media(max-width:800px)
{
  html1 
  {
    font-size:15px;
  }
}